.imap-level-0  {
	font-size: 14px;
	width: 100%;
	margin-bottom: 30px;
}

.map-head {
	margin-top: 10px;
}

.map-head img {
	vertical-align: middle;
}

.map-head b {
	clear: left;
}

.x.a-serv:before {
	content: none;
}

.a-serv:link,
.a-serv:visited {
	text-decoration: none;
	color: #00ACBD;	
}

.a-serv:hover {
	text-decoration: underline;
}