.serv-pop .map-level-0  {
	position: absolute;
	font-size: 14px;
	margin-left: 3%;
}

.serv-pop  .map-item {
	margin-top: 15px;
	padding-left: 15px;
	position: relative;
}

.serv-pop .a-serv:link,
.serv-pop .a-serv:visited {
	text-decoration: none;
	color: #868B8E;
}

.serv-pop .a-serv:hover {
	text-decoration: underline;
	color: #00ACBD;	
}

.serv-pop .a-serv:before {
	position: absolute;
	left: 0;
	content: "•";
}

.serv-pop .a-h-serv:link,
.serv-pop .a-h-serv:visited {
	font-weight: bold;
	color: #00ACBD;	
	text-decoration: none;
}

.serv-pop .a-h-serv:hover {
	text-decoration: underline;
}

.serv-pop .map-level-0  {
	width: 45%;
}

.serv-pop .map-level-0 {
	margin-bottom: 20px;
}

.serv-pop .map-item {
	margin-top: 5px;
	font-size: 14px;
}

@media screen and (min-width:1024px) {
	.serv-pop .serv-list {
		display: block;
	}
}

@media screen and (max-width:1024px) {
	.serv-pop .map-level-0 {
		position: static;
		width: 90%;
	}

	.serv-pop > div {
		height: auto !important;
		max-height: 500px;
		width: 450px;
	}

	.serv-pop .serv-list {
		display: none;
	}
}